@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./markdown.css";

* {
  font-family: "Hind";
}

body {
  @apply bg-gray-950 text-white;
}

@media (max-width: 480px) {
  body {
    @apply bg-gray-900;
  }  
}


.gradient-circle {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  top: -30px;
  height: 60px;
  width: 100vw;
  opacity: 0.5;
  filter: blur(40px);
  background: radial-gradient(
    circle,
    rgba(248, 107, 223, 1) 0%,
    rgba(107, 107, 248, 0.8) 100%
  );
}
.gradient-circle-bottom {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  bottom: -20px;
  height: 40px;
  width: 100vw;
  opacity: 0.5;
  filter: blur(40px);
  background: radial-gradient(
    circle,
    rgba(248, 107, 223, 1) 0%,
    rgba(107, 107, 248, 0.8) 100%
  );
}

.gradient-shadow:hover::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #45caff 0%, #ff1b6b 100%);
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.gradient-shadow:hover::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.WorkCardButton {
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background-color: #4e4ec4;
  color: ghostwhite;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
}

.WorkCardButton:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px,-4px);
}

.WorkCardButton:focus-visible {
  outline-offset: 1px;
}

.bg-opacity-hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.bg-opacity-hover:hover::before {
  opacity: 1;
}


.copied-notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: ghostwhite;
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
}